<p id="notice"><%= notice %></p>

<p>
  <strong>Purchase amount:</strong>
  <%= @purchase.purchase_amount %>
</p>

<p>
  <strong>Purchase datetime:</strong>
  <%= @purchase.purchase_datetime %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase.user_id %>
</p>

<p>
  <strong>Fund:</strong>
  <%= @purchase.fund_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @purchase.user %>
</p>

<p>
  <strong>Fund:</strong>
  <%= @purchase.fund %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
